@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  border-radius: 1rem;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0 0.5rem;
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  transition: all 500ms;
}

#location_body {
  grid-template-rows: 1fr 1fr;
}

#weather_body {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#location_body,
#weather_body,
#country_box,
#search_box {
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
}

#location_body,
#weather_body {
  height: calc(100dvh - 3rem);
  width: auto;
  border-radius: 1rem;
  margin: 1rem;
}

#country_box {
  grid-row: 1/2;
  width: 95%;
  height: 95%;
}

#search_box {
  grid-row: 2/3;
  grid-template-rows: 2fr 1fr 1fr;
  width: 95%;
  height: 95%;
}

#country_box,
#search_box,
#search_bar,
#get_weather_button,
.country,
.city,
.time_zone,
.time,
.condition,
.wind,
.temperature,
.other,
.direction,
.speed,
.reported,
.feels_like {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(87, 87, 87, 0.25);
}

#search_bar,
#get_weather_button {
  width: 85%;
  min-height: 50%;
  text-align: center;
  box-shadow: var(--shadow);
  display: grid;
  align-items: center;
}

#search_bar::placeholder {
  color: black;
}

#search_bar {
  grid-row: 3/4;
}

#get_weather_button {
  grid-row: 2/3;
}

.country,
.city,
.time_zone,
.time {
  display: grid;
  width: 85%;
  min-height: 50%;
  text-align: center;
  justify-items: center;
  box-shadow: var(--shadow);
}

.condition,
.wind,
.temperature {
  height: 95%;
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
}

.condition img {
  height: 100%;
}

.direction,
.speed,
.reported,
.feels_like {
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  width: 85%;
  height: 85%;
}

.wind_direction,
.wind_speed,
.feels_like_temp,
[class*='set_'],
.reported_temperature,
.condition_text {
  font-weight: bolder;
}

.condition {
  grid-column: 1/3;
  width: 95%;
}

.wind {
  grid-column: 2/3;
  grid-row: 2/3;
  width: calc(95% - 0.5rem);
}

.temperature {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 95%;
}

.speed {
  grid-row: 1/2;
}

.direction {
  grid-row: 2/3;
}

#get_weather_button:hover,
#get_weather_button:active {
  background-color: rgba(255, 255, 255, 0.75);
}

@media (max-width: 768px) {
  body {
    grid-template-rows: auto;
  }
  #location_body,
  #weather_body {
    width: calc(100vw - 3rem);
  }
  #location_body {
    grid-row: 1/2;
  }
  #weather_body {
    grid-row: 2/3;
  }
  .condition {
    grid-column: 1/3;
  }
  #search_bar,
  #get_weather_button,
  .country,
  .city,
  .time_zone,
  .time,
  .condition,
  .wind,
  .temperature,
  .reported_temperature,
  .wind_direction,
  .wind_speed,
  .feels_like_temp,
  [class*='set_'] {
    font-size: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #292929;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #e5e5e5;
  }
}
